@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<iframe title="Finanzas" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=8e950a58-42e1-4d29-ae25-de630c303ee3&autoAuth=true&ctid=b3ba5a06-38fd-4e62-9af1-7991701d0883&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWUtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
